.user-details{
    background: bisque;
}
.posts{
    display: flex;
    flex-wrap: wrap;

}

.post{
    width: 100px;
    margin: 3px;
    background: pink;
    margin-left: calc(10% - 50px);
    margin-right: calc(10% - 50px);


}

.postsDetailsButton{
    width: 90%;
    margin: auto;
    display: block;
}