/*
#simpson{
    display: flex;
    align-items: center;
    flex-direction: column;
}*/
/*
.smp{
    width: 80%;
    display: flex;
    margin: 10px auto;
    flex-direction: column;
    align-items: center;
    border: darkblue 2px solid;

}
#name{
    color: darkblue;
}
#image{
    height: 400px;
}*/
/*
.product-card{
    width: 80%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: darkblue 4px solid;
    background: cadetblue;
}
.product-title{
    width: 100%;
    background:bisque ;
    color: brown;
}
.image{
    height: 400px;
}*/
